Recuperando Senha
Uma solicitação de recuperação de senha foi realizada para o e-mail ({{ email }}). Se você não foi o auto dessa requisição, seria legal trocar sua senha para garantir sua segurança

Para Continuar com a recuperação de senha, utiliza o token {{ token }} ou click no link abaixo:

Criar nova senha
