<strong> Recuperando Senha </strong>
<p> Uma solicitação de recuperação de senha foi realizada para o e-mail ({{ email }}). Se você não foi o auto dessa requisição, seria legal trocar sua senha para garantir sua segurança </p>
<p>
  Para Continuar com a recuperação de senha, utiliza o token {{ token }} ou click no link abaixo:
</p>
<a href="{{ link }}"> Criar nova senha </a>
